  
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pretend that I actually did work on this home page and that it looks great.</p>
</div>